<html lang="ru">

@model LoginModel
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
  font-family: 'Open Sans', sans-serif;
 
  width:100%; 
  text-align:center;
  margin: 20px 0 20px 0;   
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
</style>
<title></title>
</head>
<h2>Enter</h2>
 <body>
<div class="preloader">
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
</div>
 
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
    <div>
        <div class="form-group">
           
            <input type="text" asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email" />
           
        </div>
        <div class="form-group">
           
            <input asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password" />
             
        </div>
        <div>
              @Html.ValidationMessageFor(model => model.Email)
        </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Enter" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
 <a asp-action="Register" asp-controller="Account">Registration</a>
 <script>
   window.onload = function () {
     document.body.classList.add('loaded_hiding');
     window.setTimeout(function () {
       document.body.classList.add('loaded');
       document.body.classList.remove('loaded_hiding');
     }, 500);
   }
 </script>
</body>
@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
</html>